
@font-face {
    src: url("../fonts/ClashDisplay-Variable.ttf");
    font-family: 'Clash Display';
    font-weight: 400;
}

@font-face {
    src: url("../fonts/Satoshi-Variable.ttf");
    font-family: 'Satoshi';
    font-weight: 400;
}